@import 'lib/variables';
@import 'lib/mixins';

// Core CSS
@import 'lib/typography';
@import 'lib/misc';
@import 'lib/sidebar-and-main-panel';
@import 'lib/badge';

@import 'lib/navbars';
@import 'lib/footers';

// Fancy Stuff
@import 'lib/dropdown';
@import 'lib/cards';
@import 'lib/responsive';

.illustration {
  background: #e0ffeb;
  color: #4bbf73;

  .illustration-text {
    color: #4bbf73;
  }
}

.feather {
  width: 18px;
  height: 18px;
}

.ag-center-cols-container {
  width: 100% !important;
}

.stat {
  background: #e0eafc;
  border-radius: 50%;
  padding: 0.75rem;
  width: 48px;
  height: 48px;

  svg {
    width: 24px;
    height: 24px;
    color: #4bbf73 !important;
  }
}

.cover {
  background-image: url(/img/bg.jpg);
  background-position: center !important;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #fff;
}
a {
  i {
    color: #fff;
    font-size: 1.5rem;
  }
}
a:hover {
  color: #000 !important;
  i {
    color: #000 !important;
  }
}
.text-l {
  text-align: left;
}
.text-lg {
  font-size: 1.5rem;
}

.text-white {
  color: #fff !important;
}
.color-primary {
  color: #bf584d !important;
}
.color-black {
  color: #000000 !important;
}

.opacity-70 {
  opacity: 0.7 !important;
}

.opacity-80 {
  opacity: 0.8 !important;
}

.opacity-90 {
  opacity: 0.9 !important;
}

.fw-light {
  font-weight: 300 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.user-detail {
  img {
    width: 128px;
    height: 128px;
  }
}

a {
  text-decoration: none;
}

.loading {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(197, 197, 197, 0.8);
  text-align: center;
  padding-top: 200px;
  font-size: 30px;
  font-family: sans-serif;

  .loader,
  .loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
  .loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(115, 252, 214, 0.2);
    border-right: 1.1em solid rgba(115, 252, 214, 0.2);
    border-bottom: 1.1em solid rgba(115, 252, 214, 0.2);
    border-left: 1.1em solid #73fcd6;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
